@keyframes introMessage {
  from {
    transform: translateY(24px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sliderText {
  0% {
    transform: translateX(24px);
    opacity: 0;
  }

  50% {
    transform: translateX(24px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes formField {
  from {
    width: 0;
  }

  to {
    width: calc(100% - 21rem);
  }
}
